.title{
  text-align: center;
  padding: 15px;
}
.link-cuisine{
  width : 100%;
  display: flex;

  justify-content: center;
  word-wrap: break-word;
}
.btn-cuisine {
  width : 100%;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
}
.btn-cuisine:hover {
  color: #fff !important;
  background-color: #3fa544;
}

.col-md-4 {
    padding: 5px;
  }